


body {
	background-color: #F8F8F8;
}

.db-info {
	margin-top: 15px;
}

.db-widget-box {
	padding-bottom: 5px;
}

.db-widget-ctnr {
	height: 302px !important;
	overflow: auto;
	background-color: #FFFFFF;
	border: #eee 1px solid;
	position: relative;
}

.db-widget-edit {
	text-align: right;
	/*visibility: hidden;*/
}

.db-widget-edit > div {
	display: inline-block;
	padding: 5px;
	border-bottom-right-radius: 5px;
    background-color: white;
    border-bottom-left-radius: 5px;
    position: relative;
    top: -1px;
    border-bottom: #eee 1px solid;
    border-left: #eee 1px solid;
    border-right: #eee 1px solid;
}

.db-widget {
	height: 100%;
	width: 100%;
	
}

.db-header {
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (max-width: 380px) {
.db-widget-ctnr {
	height: 252px !important;
}
}