


.TextViewer .tv-toolbar {
	position: fixed;
    top: 51px;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
}

.TextViewer .tv-content {
	position: absolute;
    top: 51px;
    right: 0;
    left: 0;
    bottom: 0;
}

.TextViewer .tv-notification {
	top: 100px;
	opacity: 0.8;
}


.TextViewer.tv-toolbar .tv-content {
	padding-top: 40px;
}


.TextViewer .tv-mode > ul.dropdown-menu {
	overflow-y: auto;
    bottom: 0px;
    position: fixed;
    top: 90px;
	max-height: none;
}


.TextViewer .editor-dirname {
	color: #11ad83;
}
@media (max-width: 767px) {
.TextViewer .editor-dirname {
	display: none;
}
}

.TextViewer .editor-basename {
	color: #D43375;
    font-weight: bold;
}
