
::-webkit-scrollbar {
	width: 8px;
	height:8px;
}
::-webkit-scrollbar-button {
	width: 8px;
	height:8px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: rgba(115, 115, 115, 0.38);
	border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(115, 115, 115, 0.58);
}


/*
 * Layout 
 */
 
 
/* global */
 
body {
	background-color: #F8F8F8;
}

#right-panel {
	background-color: #FFFFFF;
	display: block;
}

#right-panel .content {
    padding: 15px;
	z-index: 100;
}




/* Mobile */
@media (max-width: 767px) {


body.rp {
	/* prevent body scrolling when right-panel is shown */
	overflow: hidden;
}

body:not(.rp) #right-panel .bg {
	display: none;
}

body.rp #right-panel .content {
	transform: translateX(0);
}

body:not(.rp) #right-panel .content {
	transform: translateX(+350px);
}


#right-panel .content {
	position: fixed;
	top: 50px;
	bottom: 0px;
	right: 0px;
	width: 350px;
	max-width: 90%;
	overflow-y: auto;
	background-color: inherit;
	transition: transform .3s;
}

#right-panel .bg {
	z-index: 100;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

#header {
	display: none;
}

}


/* Desktop */
@media (min-width: 768px) {

/* absolute layout */

body {
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#main {
	overflow-y: auto;
	position: absolute;
	bottom: 0px;
	top: 50px;
	left: 0px;
	right: 350px;
	margin: 0px;
}

#header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 350px;
	height: 50px;
}


#right-panel {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 350px;
	bottom: 0px;
	border-left: 1px solid #E7E7E7;
	overflow-y: auto;
}


}









/* notification */

#notification {
	position: fixed;
    bottom: 0px;
    width: 100%;
}

#notification .alert {
	text-align: center;
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
#notification .alert {
	width: 95%;
	margin-bottom: 5px;
	opacity: 0.95;
}
}



/* header */


#header nav {
	border: 0px solid #FFF;
}
#header nav .navbar-right {
	margin-right: 0px;
}

#header nav .container-fluid {
	padding-right: 5px;
	padding-left: 5px;
}





/* right panel */


#details {
	margin-bottom: 30px;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 30px;
}


#details [data-role="thumbnail"] {
	text-align: center;
	margin: 15px 0;
	width: 128px;
    height: 128px;
	overflow: hidden;
	display: inline-block;
	border-radius: 10px;
}

#details [data-role="thumbnail"] svg {
    height: 100%;
    width: 100%;
}

#details [data-role="thumbnail"] img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/*#details [data-role="thumbnail"] img, #details [data-role="thumbnail"] svg {
	text-align: center;
	width: 128px;
	height: 128px;
}*/

#details [data-role="title"] {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin: 15px 0;
}

#details [data-role="detail"] {
	margin: 15px 0;
	padding: 0px;
}

#details [data-role="detail"] .value {
	text-align: left;
}

#details [data-role="detail"] .key {
	font-weight: bold;
	text-transform: capitalize;
	text-align: right;
	color: #D43375;
}

#details [data-role="action"] {
	margin: 15px 0;
}

#details [data-role="description"] {
	margin: 15px 0;
	padding-top: 15px;
    text-align: left;
    border-top: solid 1px #E4E4E4;
}




#usage {
	text-align: left;
	color: #8C8C8C;
}

#usage .usage-used {
	text-align: center;
}

#usage .usage-bar {
    height: 20px;
    width: 100%;
    background-color: #CECECE;
    margin: 20px 0;
	position: relative;
}

#usage .usage-bar > div {
	height: 100%;
	position: absolute;
    left: 0px;
}

#usage .usage-bar-file {
    background-color: #21B521;
	z-index: 2;
}

#usage .usage-bar-table {
    background-color: #2975E0;
	z-index: 1;
}

#usage .usage-bar-app {
    background-color: #2ecc71;
}

#usage .usage-bar-detail, #usage .usage-count {
    text-align: left;
	width: 100%;
	border-spacing: 0px 5px;
    border-collapse: separate;
}

#usage .usage-bar-detail-color {
	width: 20px;
    height: 20px;
}

#usage .usage-bar-detail-file .usage-bar-detail-color {
    background-color: #21B521;
}

#usage .usage-bar-detail-table .usage-bar-detail-color {
    background-color: #2975E0;
}

#usage .usage-bar-detail-app .usage-bar-detail-color {
    background-color: #2ecc71;
}

#usage .usage-bar-detail-type {
    padding: 0 5px;
}

#usage .usage-bar-detail-size {
    text-align: right;
}

#usage .usage-count-value {
	color: #D43375;
    text-align: right;
    width: 20px;
}

#usage .usage-count-name {
    padding-left: 5px;
}





/* ImageViewer */


.ImageViewer {
	background-color: #f8f8f8 !important;
    color: #232323 !important;
}


@media (max-width: 767px) {
.ImageViewer {
	top: 50px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
}
	








/* make space between column when collapsed */
.row > [class*="col-"]:not([class*="col-xs"]) {
	margin-top: 10px;
}






/* ArboBrowser style */

.explorer .col-info {
	color: grey;
}


/* hide info icon on desktop device (ie: when the right panel is shown) */
@media (min-width: 768px) {
.explorer .col-info {
	display: none;
}
}

/* wallview extension */
.explorer div.wallview .col-info {
    position: absolute;
    top: 6px;
    right: 8px;
}



/* DeviceView */


.explorer .deviceview .item>div {
    padding: 10px;
    background-color: #FFFFFF;
	cursor: default;
}

/*.explorer .deviceview .item>div:hover {
	background-color:  #F8F8F8;
}*/

.explorer .deviceview .item>div  .col-icon {
	float: left;
	position: relative;
}

.explorer .deviceview .item>div  .col-icon svg, .explorer .deviceview .item  .col-icon img{
	width: 112px;
	height: 112px;
}

.explorer .deviceview .item>div  .col-icon .dev-open-btn{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    padding-top: 25px;
	cursor: pointer;
	color: #672782;
}
body.touchOnly .explorer .deviceview .item>div  .col-icon .dev-open-btn, .explorer .deviceview .item>div  .col-icon .dev-open-btn:hover{
    background-color: rgba(255, 255, 255, 0.95);
	color: #9b59b6;
}

.explorer .deviceview .item>div  .meta {
	margin-left: 122px;
}

.explorer .deviceview .item {
	/*cursor: inherit;*/
	padding-bottom: 15px;
} 

.explorer .deviceview .item.selected > div {
	background-color: #E0FDDC;
}

.explorer .deviceview .col-info {
    float: right;
    cursor: pointer;
}


.explorer  .col-name .createdBy{
	margin-left: 10px;
    font-weight: normal;
    color: grey;
    font-size: smaller;
    font-style: italic;
}

.explorer  .col-name .col-name-size {
	font-weight: normal;
	color: grey;
	font-size: smaller;
    font-style: italic;
}


/* map */

@media (max-width: 767px) {
#main[data-app="map"] {
	position: absolute;
    top: 51px;
    bottom: 0px;
	left: 0px;
	right: 0px;
}
}



/* drop zone */

.drop-overlay {
	z-index: 1100;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.60;
    text-align: center;
    display: table;
}

.drop-overlay > span {
	font-size: 45px;
    color: #61af42;
    font-weight: bold;
    vertical-align: middle;
    display: table-cell;
}



#main[data-app="text"].TextViewer .tv-toolbar {
	padding-left: 5px;
	padding-right: 5px;
}


textarea.form-control {
	max-width: 100%; /* avoid extending */
}


