
.ui-container {
	top: 51px;
}

body.app-android .ui-container {
	top: 0px; /* remove the header */
}


.ui-container.ui-container-absolute {
	overflow: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}



#loader {
	text-align: center;
    padding: 40px 0;
    color: grey;
}

