
.drop-overlay-ctnr {
	position: relative;
}


.drop-overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0, 0, 0, 0.5);
    z-index:1100;
    color:#09a3e8;
	text-align: center;
	border: 3px solid #09a3e8;
}

 
.drop-overlay:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.drop-overlay > span {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px;
    position:relative;
    font-weight:bold;
}
