# Include the README
include *.md
include *.txt
include *.rst

# Include the data files
recursive-include ething/webserver/webui *
recursive-include ething/core/nodejs *
recursive-include ething/plugins *
