

#dashboard {
	background-color: #F8F8F8;
}

#dashboard .db-loader {
	margin-top: 15px;
}

#dashboard .db-header-title {
	font-size: large;
    font-weight: bold;
    color: #1abc9c;
}

#dashboard .db-page-empty {
	color: #b3b3b3;
    font-size: 32px;
}

#dashboard .db-widget-edit {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
	display: none;
	z-index: 19;
	cursor: move;
	border: 1px solid #e4e4e4;
}

#dashboard .db-widget-edit .btn-link {
	color: #0c5da2;
	cursor: pointer;
}
#dashboard .db-widget-edit .btn-link:hover {
	color: #0271d4;
}

#dashboard .db.editmode .db-widget-edit {
	display: table;
}

#dashboard .db:not(.editmode) .gridster .gs-resize-handle {
	display: none;
}

#dashboard .db-widget-edit > div {
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#dashboard .db-widget-wrapper {
	height: 100%;
	width: 100%;
	background-color: #FFF;
	position: relative;
}

#dashboard .db-widget {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	overflow: hidden;
}

#dashboard .db-widget[data-title]:before {
	content: attr(data-title);
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    color: rgb(179, 179, 179);
    font-size: smaller;
	white-space: nowrap;
    padding: 5px 0 0 0;
}

#dashboard .db-widget[data-footer]:after {
	content: attr(data-footer);
	position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: smaller;
	white-space: nowrap;
    color: rgb(179, 179, 179);
}

#dashboard .db-widget-err {
    color: #c7254e;
    text-align: center;
    padding: 20px;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	display: none;
	z-index: 18;
	background-color: #ffffff;
}

#dashboard .db-widget-err p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#dashboard .db-header {
    padding: 10px;
}

#dashboard .db-widget-warning {
    box-shadow: 0px 0px 2px 2px #f56b00;
    transition: box-shadow 0.5s ease-in-out;
}

#dashboard .gridster > ul {
	padding-left: 0px;
}

#dashboard .gridster > ul > li {
	list-style: none;
}

#dashboard .gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: #e8e8e8 !important;
  opacity: 1 !important;
}

#dashboard .gridster .gs-resize-handle {
	width: auto;
    height: auto;
    bottom: -8px;
    right: 6px;
	background-image: none;
}

#dashboard .gridster .gs-resize-handle:after {
	content: "\231F";
	font-size: 40px;
    color: #0c5da2;
}