
#device {
	background-color: #f5f5f5;
}

#device .ui-container {
	display: table;
    border-collapse: separate;
    border-spacing: 10px 10px;
}

#device .d-infopanel {
	padding: 40px 10px;
    background-color: #9b59b6;
    color: white;
	display: table-cell;
	vertical-align: top;
	width: 320px;
	min-width: 320px;
	max-width: 320px;
}

#device .d-infopanel [data-role="title"] {
    display: block;
	text-align: center;
	margin: 40px 0;
}

#device .d-infopanel [data-role="action"] {
    text-align: center;
	display: block;
}

#device .d-infopanel [data-role="action"] .btn {
	color: white;
}

#device .d-infopanel [data-role="action"] .btn:hover {
	color: white;
}

#device .d-infopanel [data-role="thumbnail"] {
    text-align: center;
	display: block;
}

#device .d-infopanel [data-role="thumbnail"] svg {
	width: 128px;
    height: 128px;
}

#device .d-infopanel [data-role="detail"] {
	display: block;
	margin: 40px 0;
}

#device .row:before, #device .row:after, #device .container-fluid:before, #device .container-fluid:after {
    border-collapse: collapse;
}

#device .d-infopanel [data-role="detail"] .key {
    text-align: right;
}

#device .d-infopanel [data-role="detail"] .value {
    font-weight: bold;
}

#device .d-infopanel .tooltip > .tooltip-arrow {
	border-bottom-color: #fff;
}

#device .d-infopanel .tooltip > .tooltip-inner {
	background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

#device .d-contentpanel {
	display: table-cell;
	width: 100%;
	vertical-align: top;
	max-width: 1px;
}

#device .d-contentpanel > .d-contentpanel-item {
    background-color: white;
	width: 100%;
	margin-bottom: 10px;
	position: relative;
}

#device .d-contentpanel > .d-contentpanel-item:last-child {
	margin-bottom: 0px;
}

#device .d-contentpanel > .d-contentpanel-item  .d-contentpanel-item-title {
    padding: 10px;
	font-size: 18px;
}

#device .d-contentpanel > .d-contentpanel-item .d-contentpanel-item-content {
	width: 100%;
    overflow: auto;
	padding: 10px;
}

#device .d-contentpanel > .d-contentpanel-item-browser .d-contentpanel-item-content, #device .d-contentpanel > .d-contentpanel-item-plot .d-contentpanel-item-content {
	padding: 0px;
}

#device .d-contentpanel > .d-contentpanel-item-browser .d-contentpanel-item-content {
	padding-left: 2px;
}


/* API */

#device .d-contentpanel-item-api .d-contentpanel-item-content {
	padding: 0 10px 10px 10px;
}

#device .d-contentpanel-item-api .operation {
	margin: 0 0 20px 0;
	background-color: #ffffff;
    /*border: 1px solid #eaeaea;*/
}



#device .d-contentpanel-item-api .operation-header {
	cursor: pointer;
	padding: 10px;
    font-weight: bold;
	background-color: #f7f7f7;
	color: #333333;
	border-radius: 4px;
    border: 1px solid #f1f1f1;
}

#device .d-contentpanel-item-api .operation .operation-header:after {
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
	vertical-align: text-top;
	color: #afafaf;
	margin-left: 10px;
}

#device .d-contentpanel-item-api .operation:not(.opened) .operation-header:after {
	content: "\e114";
}

#device .d-contentpanel-item-api .operation.opened .operation-header:after {
	content: "\e113";
}

#device .d-contentpanel-item-api .operation-body {
	padding: 5px;
	/*border-top: 1px solid;*/
    /*border-color: inherit;*/
}

#device .d-contentpanel-item-api .operation-body > * {
	margin: 20px 0;
}

#device .d-contentpanel-item-api .operation-body-description {
	
}

#device .d-contentpanel-item-api .operation-body-parameters {
	
}

#device .d-contentpanel-item-api .operation-body-toolbar {
	
}

#device .d-contentpanel-item-api .operation-body-toolbar-execute {
	
}

#device .d-contentpanel-item-api .operation-body-toolbar-hide {
	
}

#device .d-contentpanel-item-api .operation-body-result {
	
}

#device .d-contentpanel-item-api .operation-body-result.error, .operation-body-result.error pre {
	color: #ca2f2f;
}

#device .d-contentpanel-item-api .operation-body-result-view {
	max-width: 100%;
}

#device .d-contentpanel-item-api .operation-body-result-view code {
	background-color: inherit;
}

#device .d-contentpanel-item-api .operation-body-result-details {
	max-width: 100%;
	background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 9.5px;
    margin: 0 0 20px;
	color: #4a4a4a;
}

#device .typeahead.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

#device ul.dropdown-menu {
    height: auto;
    max-height: 200px !important;
    overflow-x: hidden;
}


/* Sensors */

#device .d-contentpanel-item-sensors .d-contentpanel-item-content {
	padding: 0 10px 10px 10px;
}

#device .d-contentpanel-item-sensors .d-contentpanel-item-content > div {
	background-color: #f5f5f5;
	padding: 2px;
}

#device .db-widget-wrapper {
    display: inline-block;
    height: 152px;
    width: 152px;
	position: relative;
	margin: 2px;
	background-color: white;
	vertical-align:top;
}

#device .db-widget {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
    left: 0;
	overflow: hidden;
}

#device .db-widget[data-title]:before {
	content: attr(data-title);
	display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    color: rgb(179, 179, 179);
    font-size: smaller;
	white-space: nowrap;
    padding: 5px 0 0 0;
}

#device .db-widget[data-footer]:after {
	content: attr(data-footer);
	position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    font-size: smaller;
	white-space: nowrap;
    color: rgb(179, 179, 179);
}


#device .d-contentpanel-item-widget .db-widget-wrapper {
	width: 100%;
}


#device .d-contentpanel-item-parent-item {
	display: inline-block;
	padding: 0 5px;
	color: #a5a5a5;
}

#device .d-contentpanel-item-parent-item:not(:first-child):before {
    content: "\e080";
	position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
	margin-right: 10px;
    color: #b7b7b7;
}

#device .d-contentpanel-item-parent-item:first-child {
    padding-left: 0px;
}

#device .d-contentpanel-item-parent-item:last-child {
    color: #9b59b6;
}

#device .d-contentpanel-item-parent-item:not(:last-child) {
    cursor: pointer;
}

#device .d-contentpanel > .d-contentpanel-item-tree .d-contentpanel-item-content {
    /*max-height: 400px;*/
}



/* Data */

#device .d-contentpanel > .d-contentpanel-item-data .row > div {
	padding-left: 0px;
	padding-right: 0px;
}

#device .d-contentpanel > .d-contentpanel-item-data .row > div:first-child {
	color: #9b59b6;
}

@media (max-width: 768px) {

#device .ui-container {
	display: block;
	padding: 10px;
}

#device .d-infopanel {
	display: block;
	margin-bottom: 20px;
	width: 100%;
	min-width: initial;
	max-width: initial;
}

#device .d-contentpanel {
	display: block;
	max-width: none;
}

}
