
#image .ImageViewer {
	background-color: #f8f8f8;
    color: #232323;
}


#image .ImageViewer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
	height: auto;
}

	

