

#resource .f-resourcedata .CodeMirror {
  border: 1px solid #eee;
  height: auto;
  margin-top: -5px;
}


#resource .share-link > p {
	color: grey;
}

#resource .f-description {
	color: grey;
}

#resource .f-resourcedata .row > div {
	margin-bottom: 10px;
}

#resource .footer-btn {
	margin-top: 20px;
    border-top: 1px solid #dddddd;
    padding-top: 20px;
	margin-bottom: 40px;
}

#resource .f-formlayout-item {
	margin-top: 30px;
	margin-bottom: 30px;
}

#resource .f-formlayout-item .f-formlayout-item {
	margin-top: 0px;
	margin-bottom: 15px;
}

#resource .f-select .bootstrap-select ul.dropdown-menu.inner {
	max-height: 200px;
    overflow: auto;
}