

#table {
	background-color: #F8F8F8;
}



@media (min-width: 768px) {
	
/* absolute layout */

#table .ui-container {
	overflow-y: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}


body#table.ui-rp-desktop-hidden button[data-name="rightPanelToggle"] {
	color: grey;
}

}


@media (max-width: 767px) {

body#table button[data-name="rightPanelToggle"] {
	color: grey;
}

}
