


.modal {
	z-index: 1100 !important;
}

.modal-backdrop {
	z-index: 1099 !important;
}

.modal .modal-header {
    background-color: #337AB7;
    color: white;
	border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.modal-dialog:not(.form-expert) .item-expert {
    display: none !important;
}


/* fullscreen modal (forced on small screen) */


.modal-fullscreen  .modal-dialog {
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: initial !important;
    margin: 0;
	transition: unset !important;
}

.modal-fullscreen  .modal-content {
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0px;
    border-width: 0px;
    overflow: auto;
}

@media (max-width: 767px) {
.modal-dialog {
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: initial !important;
    margin: 0;
	transition: unset !important;
}

.modal-content {
	position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0px;
    border-width: 0px;
    overflow: auto;
}
}