


.TextViewer .tv-toolbar {
	padding: 5px 5px;
}

.TextViewer .tv-actions {
	display:table-cell;
	white-space:nowrap;
}

.TextViewer .tv-actions .btn {
    border-radius: 0px;
}

.TextViewer .tv-actions > * {
	float:none;
	display: inline-block;
}

.TextViewer .tv-filename {
	padding: 5px 10px;
	display:table-cell;
	max-width:1px;
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.TextViewer .tv-toolbar>.tv-mode {
	padding: 0px 10px;
    display: table-cell;
    color: #8E8E8E;
	white-space: nowrap;
	cursor: pointer;
	vertical-align: middle;
}

.TextViewer .tv-mode > ul.dropdown-menu {
	overflow-y: auto;
    max-height: 400px;
}

.TextViewer .tv-mode > ul.dropdown-menu a {
	cursor: pointer;
}

.TextViewer .tv-filename.tv-dirty:before {
	content: "*";
}



.TextViewer .tv-notification {
	position: absolute;
    top: 50px;
    width: 100%;
	z-index: 99;
}

.TextViewer .tv-notification .alert {
	text-align: center;
	width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 767px) {
.TextViewer .tv-notification .alert {
	width: 95%;
	margin-bottom: 5px;
	opacity: 0.95;
}
}


.TextViewer.tv-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
	z-index: 1000;
}

.TextViewer .CodeMirror-fullscreen {
	z-index: 2000;
}

.CodeMirror-lint-tooltip {
	z-index: 2000 !important;
}


.CodeMirror.cm-s-javascript .cm-atom {
	color: #AB4DCA;
}
.CodeMirror.cm-s-javascript .cm-string {
	color: #D61F8D;
}
.CodeMirror.cm-s-javascript .cm-number {
	color: #28B940;
}
.CodeMirror.cm-s-javascript .cm-string.cm-property {
    color: #3C5FDE;
}



/* embedded textviewer */

.TextViewer.embedded {
	position: relative;
}
.TextViewer.embedded .tv-toolbar {
	position: absolute;
    right: 0px;
    top: 0px;
    padding: 2px 2px;
    margin: 10px 10px 0px 0px;
	opacity: 0.75;
	z-index: 100;
	background-color: rgb(232, 232, 232);
}
.TextViewer.embedded .tv-toolbar:hover {
	opacity: 1;
}
.TextViewer.embedded .tv-filename {
	display: none;
}
.TextViewer.embedded.tv-fullscreen {
	position: fixed;
}
.TextViewer.embedded.tv-fullscreen .tv-content {
    height: 100%;
}

.TextViewer.tv-readonly .CodeMirror-cursor {
	display: none !important;
}
