
.ui-container {
	top: 51px;
}


.ui-container.ui-container-absolute {
	overflow: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}


/* Desktop */
@media (min-width: 768px) {

/* absolute layout */

.ui-container.ui-container-absolute-desktop {
	overflow: auto;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
}

}


#loader {
	text-align: center;
    padding: 40px 0;
    color: grey;
}

