#ui-infopanel {
	background-color: #FFFFFF;
	display: block;
}

#ui-infopanel .content {
    padding: 15px;
	z-index: 100;
}


body:not(.ui-rp) #ui-infopanel {
	display:none;
}


/* Mobile */
@media (max-width: 767px) {


body.ui-rp-mobile-shown {
	/* prevent body scrolling when infopanel is shown */
	overflow: hidden;
}

body:not(.ui-rp-mobile-shown) #ui-infopanel .bg {
	display: none;
}

body.ui-rp-mobile-shown #ui-infopanel .content {
	transform: translateX(0);
}

body:not(.ui-rp-mobile-shown) #ui-infopanel .content {
	transform: translateX(+350px);
}


#ui-infopanel .content {
	position: fixed;
	top: 51px;
	bottom: 0px;
	right: 0px;
	width: 350px;
	max-width: 90%;
	overflow-y: auto;
	background-color: inherit;
	transition: transform .3s;
}

body.app-android #ui-infopanel .content {
	top: 0px; /* remove the header */
}

#ui-infopanel .bg {
	z-index: 100;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

}

/* Desktop */
@media (min-width: 768px) {

/* absolute layout */


#ui-infopanel {
	position: absolute;
	top: 51px;
	right: 0px;
	width: 350px;
	bottom: 0px;
	border-left: 1px solid #E7E7E7;
	overflow-y: auto;
}

body.app-android #ui-infopanel {
	top: 0px; /* remove the header */
}

body.ui-rp:not(.ui-rp-desktop-hidden) > .ui-container {
	right: 350px !important;
}

body.ui-rp-desktop-hidden #ui-infopanel {
	display:none;
}


}




#ui-infopanel #details {
	margin-bottom: 30px;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 30px;
}


#ui-infopanel #details [data-role="thumbnail"] {
	text-align: center;
	margin: 15px 0;
	width: 128px;
    height: 128px;
	overflow: hidden;
	display: inline-block;
	border-radius: 2px;
}

#ui-infopanel #details [data-role="thumbnail"] svg {
    height: 100%;
    width: 100%;
}

#ui-infopanel #details [data-role="thumbnail"] img {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

/*#ui-infopanel #details [data-role="thumbnail"] img, #ui-infopanel #details [data-role="thumbnail"] svg {
	text-align: center;
	width: 128px;
	height: 128px;
}*/

#ui-infopanel #details [data-role="title"] {
	width: 100%;
	display: inline-block;
	overflow: hidden;
	margin: 15px 0;
}

#ui-infopanel #details [data-role="detail"] {
	margin: 15px 0;
	padding: 0px;
}

#ui-infopanel #details [data-role="detail"] .value, #ui-infopanel #details [data-role="data"] .value {
	text-align: left;
}

#ui-infopanel #details [data-role="detail"] .key, #ui-infopanel #details [data-role="data"] .key {
	font-weight: bold;
	text-transform: capitalize;
	text-align: right;
	color: #D43375;
}

#ui-infopanel #details [data-role="data"] .key {
	color: #3dad11
}

#ui-infopanel #details [data-role="action"] {
	margin: 15px 0;
}

#ui-infopanel #details [data-role="description"] {
	margin: 15px 0;
	padding-top: 15px;
    text-align: left;
    border-top: solid 1px #E4E4E4;
}


#ui-infopanel #usage {
	text-align: left;
	color: #8C8C8C;
}

#ui-infopanel #usage .usage-used {
	text-align: center;
}

#ui-infopanel #usage .usage-bar {
    height: 20px;
    width: 100%;
    background-color: #CECECE;
    margin: 20px 0;
	position: relative;
}

#ui-infopanel #usage .usage-bar > div {
	height: 100%;
	position: absolute;
    left: 0px;
}

#ui-infopanel #usage .usage-bar-file {
    background-color: #21B521;
	z-index: 2;
}

#ui-infopanel #usage .usage-bar-table {
    background-color: #2975E0;
	z-index: 1;
}

#ui-infopanel #usage .usage-bar-app {
    background-color: #2ecc71;
}

#ui-infopanel #usage .usage-bar-detail, #ui-infopanel #usage .usage-count {
    text-align: left;
	width: 100%;
	border-spacing: 0px 5px;
    border-collapse: separate;
}

#ui-infopanel #usage .usage-bar-detail-color {
	width: 20px;
    height: 20px;
}

#ui-infopanel #usage .usage-bar-detail-file .usage-bar-detail-color {
    background-color: #21B521;
}

#ui-infopanel #usage .usage-bar-detail-table .usage-bar-detail-color {
    background-color: #2975E0;
}

#ui-infopanel #usage .usage-bar-detail-app .usage-bar-detail-color {
    background-color: #2ecc71;
}

#ui-infopanel #usage .usage-bar-detail-type {
    padding: 0 5px;
}

#ui-infopanel #usage .usage-bar-detail-size {
    text-align: right;
}

#ui-infopanel #usage .usage-count-value {
	color: #D43375;
    text-align: right;
    width: 20px;
}

#ui-infopanel #usage .usage-count-name {
    padding-left: 5px;
}


#ui-infopanel .tooltip > .tooltip-arrow {
	border-bottom-color: #333;
}

#ui-infopanel .tooltip > .tooltip-inner {
	background-color: rgba(0, 0, 0, 0);
    border: 1px solid #333;
	color: #333;
}