
/* uploader */


#notification {
	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
	z-index: 800;
}

#notification > .alert {
	float: right;
	max-width: 600px;
    margin-right: 15px;
}

#notification > .alert > h4 {
	text-transform: capitalize
}



@media (max-width: 767px) {
#notification {
    
}
}


