
<style>
	body {
	  padding-top: 50px;
	}
</style>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <span class="navbar-brand">Administration</span>
	</div>
	<div id="navbar" class="collapse navbar-collapse">
	  <ul class="nav navbar-nav">
		<li><a href="index.php">Home</a></li>
		<li><a href="users.php">User</a></li>
		<li><a href="maintenance.php">Maintenance</a></li>
		<li><a href="log.php">Log</a></li>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="disconnect.php">Logout</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>