
#settings .tab-content{padding:20px}



#settings .form .f-formlayout-item > label {
	font-size: 24px;
	margin-top: 20px;
    margin-bottom: 10px;
	font-weight: 500;
    line-height: 1.1;
}

#settings .form .f-formlayout-item .f-formlayout-item > label {
	font-size: 18px;
	margin-top: 10px;
    margin-bottom: 10px;
}

#settings ul.nav-tabs {
	margin-top: 20px;
}

#settings .tab-content {
    margin-top: 0px;
}


#settings .form span.input-group-addon:first-child {
    min-width: 100px;
    text-align: right;
}

#settings .form .f-formlayout {
    border: none !important;
	margin-left: 0 !important;
	padding-left: 0 !important;
}


#settings #sidebar li>a {
    display: block;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
}
#settings #sidebar li.active {
  	border:0 #4285F4 solid;
  	border-left-width:2px;
}
#settings #sidebar li.active>a {
	font-weight: 700;
	color: #4285F4;
}

#settings #sidebar .affix-top {
    margin-top: 20px;
}


#settings #log table td:not(.message) {
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
	color: grey;
}

#settings #log table tr.debug {
	color: grey;
}

#settings #log .toolbar {
	margin-top: 20px;
	margin-bottom: 20px;
}



@media (max-width: 768px) {
	
	#settings #log .toolbar span.input-group-addon:first-child, #settings #log .toolbar button {
		min-width: 85px;
	}
	
	#settings #log .toolbar .input-group {
		margin-bottom: 10px;
	}
	
	#settings #log table td.level,
	#settings #log table th.level,
	#settings #log table td.origin,
	#settings #log table th.origin	{
		display: none;
	}
}

#settings #status table {
    border-spacing: 0 2px;
    border-collapse: separate;
}

#settings #status table td {
	border-top-width: 0px;
}

#settings #status table td {
	vertical-align: middle;
}

